body {
  background-image: url('coco.jpeg');
  background-repeat: repeat;
  background-position: center center;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #e0e0d8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, main, footer {
  width: 100%;
  max-width: 1200px; /* This will make sure your content doesn't stretch too much on wider screens */
}

header {
  background-color: #6d6c50;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  margin-bottom: 20px;
  background-color: #404040;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

main section#story {
  background-color: #505050;
}

main section#community {
  background-color: #606060;
}
/* ... existing styles ... */

#social-links ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#social-links ul li {
  margin: 0 10px;
}

#social-links ul li a img {
  width: 50px; /* or the size you want */
  height: auto;
  border-radius: 50%; /* for rounded icons */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #6d6c50;
  color: #fff;
  width: 100%;
}
