.mintSection {
  margin-bottom: 20px;
    background-color: #404040;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
  }

.mint {
  width: 100%;
  background-color: #6d6c50;
  float: left;
}

.burnHeader {
  font-family: "Bungee-Regular";
}

.burnHeaderInline {
  font-family: "Bungee-Regular";
  display: inline;
}

.formBorder {
  width: 60%;
  border-radius: 20px;
  border: 2px solid red;
  margin-right: 20%;
  margin-left: 20%;
}

.headerImg {
  width: 50%;
}