@font-face {
  font-family: 'Bungee-Regular'; 
  src: local('Bungee-Regular'), url('./fonts/Bungee-Regular.woff') format('woff')
}


:root {
  background-image: url('assets/coco.jpeg');
  background-repeat: repeat;
  background-position: center center;
}

body,
html {
  font-family: Arial, sans-serif;
  color: #e0e0d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.base {
  width: 100%;
}

.container {
  margin-right: 15%;
  margin-left: 15%;
}

.header {
  background-color: #6d6c50;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.section {
  margin-bottom: 20px;
  background-color: #404040;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}


.story {
  background-color: #6d6c50;
}

.community {
  background-color: #606060;
}

/* ... existing styles ... */

.social {
  background-color: #404040;
}

.supporters {
  background-color: #404040;
}

#social-links ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#social-links ul li {
  margin: 0 10px;
}

#social-links ul li a img {
  width: 50px;
  /* or the size you want */
  height: auto;
  border-radius: 50%;
  /* for rounded icons */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #6d6c50;
  color: #fff;
  width: 100%;
  border-radius: 20px;
}

.btn {
  font-family: "Bungee-Regular";
  font-size: 1em;
    background: #fff;
    background-color: #6d6c50;
    color: black;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 50%;
}

.btn:hover {
  background: #fff;
  background-color: #fff;
}

.smallTxt {
  font-size: 0.75em;
}